:root {
  --ifm-color-primary: #00c8ff;
  --ifm-background-color: #0f172a;
  --ifm-navbar-background-color: #111827;
  --ifm-font-color-base: #ffffff;
}

html[data-theme='dark'] {
  --ifm-background-color: #0d1117;
  --ifm-navbar-background-color: #161b22;
  --ifm-footer-background-color: #161b22;
}

.navbar {
  border-bottom: 1px solid #00c8ff;
}

.footer {
  border-top: 1px solid #00c8ff;
}

.hero {
  background-color: #0d1117;
}

table {
  border: 1px solid #0f172a;
}

table th {
  background-color: #161b22;
  color: #00c8ff;
}

code {
  color: #00ff99;
}